@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Poppins', sans-serif;
  height:80%;
}
.home-bg{
  background: url('/assets/home-bg-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 10rem;
}

.swiper-wrapper {
  max-height: 35rem !important;
  margin-top: -98px !important;
  height: 100vh;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
}


.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: burlywood;
}

.swiper-button-prev::after,
.swiper-rtl .swiper-button-next:after {
  color: burlywood;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: burlywood;
}

.swiper-scrollbar-drag {
  background-color: burlywood !important;
}

/* FONTS */
.delius {
  font-family: 'Delius Unicase', cursive;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.burylwood-box{
  @apply border-2 border-solid h-[50rem] mt-12 border-[burlywood]
}

/* IMAGES */
figure {
	width: 100%;
	height: 31rem;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
  margin-bottom: 100px;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

/* HOVER EFFECTS */
.img-container{
  position: relative;

}
.img-text{
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%); 
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 100;
  visibility: hidden;
  opacity: 0; 
  transition: all 0.5s ease-in;
  width: 100%;
}
.img-text-parallax{
    transform: translateZ(0px);
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    @apply absolute top-20 z-40 hover:block text-[3rem] text-center font-bold tracking-wider -right-12 

}
.img-container:hover .img-text-parallax{
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in;
}
.img-container:hover .img-text {
  visibility: visible; 
  opacity: 1;
  transition: all 0.5s ease-in;

}
.img-hover figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;

}
.img-hover figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
  
}
.parallax-effect{
  transform-style: preserve-3d;
}
.swiper-slide::after{
  transition: all 0.5s ease-in;
}
.class-burylwood{
  color: burlywood;
}
.class-coal{
  color:#151716;
}
.class-coffee{
  color: #6F4E37;
}
@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }

  .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}