
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=Unbounded:wght@200;300;400;500;600;700;800&display=swap');

.card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 350px;
  border: 1px solid burlywood;
  background-color: transparent;
  margin: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  /* border: 2px solid rgba(7, 7, 7, 0.12); */
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 2rem;
}

.icon {
  margin: -7rem auto 1rem auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(90deg, #DEB887 0%, #C09A69 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.icon>img{
  max-width: 60%;
  max-height: 60%;
}
.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Syne', sans-serif;

}

.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 1;
  max-height: 0;
  transition: all 0.3s ease;
  font-family: 'Syne', sans-serif;
}

.card:hover {
  height: 350px;
}

.card:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}

.card:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card:hover .icon svg path {
  fill: url('#gradientColor');
  transition: all 0.3s ease;
}

/* SOCIAL ICONS */
.socialCard {
  display: flex;
  height: 70px;
  width: 270px;
}

.socialCard svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.socialCard .sociallink1,.socialCard .sociallink2,.socialCard .sociallink3,.socialCard .sociallink4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.socialCard svg {
  transform: scale(1);
}

.socialCard .sociallink1:hover {
  background-color: #1a1e22;
  animation: bounce_613 0.4s linear;
}

.socialCard .sociallink2:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.socialCard .sociallink3:hover {
  background-color: #0059f7;
  animation: bounce_613 0.4s linear;
}

.socialCard .sociallink4:hover {
  background-color: #1d4292;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

